.headline{
    width: 1000px;
    height: 27px;
    margin: 46px auto 35px;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
}
.section{
    width: 980px;
    height: 200px;
    display: flex;
    margin: 35px auto 40px;
    position: relative;
    /* display: none; */
}
.delete{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.image{
    width: 250px;
    height: 200px;
}
.book_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.infor{
    width: 700px;
    height: 100%;
    margin-left: 30px;
}
.infor_div{
    width: 50%;
    height: 24px;
    display: flex;
    margin-bottom: 15px;
}
.bookname{
    width: 50%;
    color: #448899;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}
.bookdate, .booktime, .bookcost, .booklocal{
    width: 48px;
    height: 14px;
    font-size: 14px;
    font-weight: 700;
    color: #666666;
    /* margin: auto 0px; */
}
.infor_bookdate, .infor_booktime, .infor_bookcost, .infor_booklocal{
    /* margin: auto 0; */
    font-weight: 500;
    font-size: 14px;
    color: #666666;
    line-height: 24px;
    width: 100%;
    height: 24px;
}
hr{
    width: 1200px;
    border: 1px solid #e8e8e8;
}
.contact_form{
    width: 980px;
    height: 227px;
    margin: 40px auto;
}
.contact_information{
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-bottom: 24px;
}
.contact_name, .contact_email, .contact_phone{
    width: 81px;
    height: 24px;   
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 29px;
    color: #666666;
    margin: auto 0px;
}
.contact_text{
    width: 608px;
    height: 14px; 
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}
.payment_form{
    width: 980px;
    height: 188px;
    margin: 40px auto;
}
.payment_information{
    width: 133px;
    height: 16px;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-bottom: 31px;
}
.payment_card, .payment_date, .payment_verify{
    width: 81px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    margin: auto 0px;
}
.infor_contact_name{
    display: flex;
    width: 980px;
    height: 38px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
}
.infor_con{
    display: flex;
    width: 980px;
    height: 38px;
    margin-bottom: 15px;
}
.contact_name_input, .contact_email_input, .contact_phone_input, .payment_card_input, .payment_date_input, .payment_verify_input{
    width: 198px;
    height: 36px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}
::placeholder{
    width: 280px;
    font-weight: 500;
    font-size: 16px;
}
.confirm{
    width: 980px;
    height: 100px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.confirm_price{
    width: 157px;
    height: 16px;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin-left: auto;
}
.confirm_btn{
    width: 173px;
    height: 36px;
    background: #448899;
    border-radius: 5px;
    border: 0;
    margin-left: auto;
}
.confirm_btn:hover{
    background-color: #5599aa;
}
.confirm_btn:active {
    transform: translateY(1px) scale(.98);
}
.confirm_btn div{
    width: 133px;
    height: 25px;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    margin: auto;
}
.no_booking{
    width: 980px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin: 0 auto 40px;
}
.tpfield {
    height: 40px;
    width: 300px;
    border: 1px solid gray;
    margin: 5px 0;
    padding: 5px;
}
.cardResult, .expiryResult, .cvvResult{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

}
.footerNobooking{
    width: 100%;
    height: 80%;
    background-color: #757575;
    position: absolute;
} 
@media(max-width:1200px){
    .headline{
        width: 90%;
        margin-left: 10px;
    }
    .section{
        width: 95%;
    }
    .infor{
        width: 65%;
        height: 100%;
        margin-left: 30px;
    }
    .delete{
        position: absolute;
        right: 0;
    }
    .image{
        width: 250px;
        height: 200px;
    }
    .book_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .infor_div{
        width: 100%;
        height: 24px;
        display: flex;
        margin-bottom: 15px;
    }
    .bookname{
        width: 100%;
        color: #448899;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .bookdate, .booktime, .bookcost, .booklocal{
        width: 48px;
        height: 14px;
        font-size: 14px;
        font-weight: 700;
        color: #666666;
        /* margin: auto 0px; */
    }
    .infor_bookdate, .infor_booktime, .infor_bookcost, .infor_booklocal{
        /* margin: auto 0; */
        font-weight: 500;
        font-size: 14px;
        color: #666666;
    }
    .contact_form{
        /* margin-left: 10px; */
        width: 95%;
    }
    .contact_text{
        width: 100%;
    }
    .infor_con{
        /* margin-left: 10px; */
        width: 100%;
    }
    .payment_form{
        /* margin-left: 10px; */
        width: 95%;
    }
    .confirm{
        margin-left: 10px;
        width: 95%;
    }
    hr{
        width: 95%;
    }
    .no_booking{
        margin-left: 10px;
    }
}
@media(max-width:650px){
    .section{
        width: 100%;
        display: inline-block;
        height: auto;
        margin: 0 auto;
    }
    .image{
        width: 95%;
        margin: 0 10px;
    }
    .delete{
        bottom: 0;
        right: 30px;
    }
    .bookname{
        margin-top: 35px;
    }
    .infor{
        width:95%;
        margin-left: 10px;
    }
    /* .infor{
        display: inline;
    } */
    hr{
        width: 95%;
    }
}