{% extends "common.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/CSS/common.css">
<link rel="stylesheet" type="text/css" href="/CSS/history.css">
{% endblock %}

{% block content %}
<div class="memberHistoryFrame">
    <!-- <div class="memberFrame">
        <div class="imageFrame">
            <img src="https://fakeimg.pl/150x150/" accept="image/*" class="avatar">
            <div class="memberName">namenamename</div>
            <input type="file" class="fileinput" onchange="loadFile(event)">
        </div>
    </div> -->
    <div class="historyFrame">
        <div class="historyFrameAll">
            <div class="historymenu">
                <div class="historyitem pending">待付款</div>
                <div class="historyitem already">已付款</div>
                <div class="historyitem end">已完成</div>
            </div>
            <div class="historyOrder">
                <!-- <div class="historyOrderFrame">
                <div class="orderImage">
                    <div>
                        <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg">
                    </div>
                </div>
                <div class="orderFrame">
                    <div class="orderNumber">
                        <h5>訂單資訊</h5>
                        <div class="orderItem"><div> 訂單編號 : </div><div class="number">1231</div></div>
                        <div class="orderItem"><div> 景點名稱 : </div><div class="attractionName">1231</div></div>
                        <div class="orderItem"><div> 日期 : </div><div class="date">32313</div></div>
                        <div class="orderItem"><div> 時間 : </div><div class="time">3213213</div></div>
                        <div class="orderItem"><div> 金額 : </div><div class="price">213123</div></div>
                    </div>
                    <div class="orderName">
                        <h5>聯絡人資訊</h5>
                        <div class="orderItem"><div> 聯絡人 : </div><div class="number">1231</div></div>
                        <div class="orderItem"><div> 手機 : </div><div class="attractionName">1231</div></div>
                        <div class="orderItem"><div> 信箱 : </div><div class="date">32313</div></div>
                    </div>
                </div> -->
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/javascript/common.js"></script>
<script src="/javascript/history.js"></script>
{% endblock %}





